.form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;}

.input-box{
    width: 75%;
}

.button-box{
    background-color: rgb(27, 117, 145);
    border: 1px solid black;
    width: 15%;
    border-radius: 50px;
    height: 40px;
    color: white
}

.button-box:hover{
    background-color: rgb(129, 206, 230);
}


.input{
    width: 100%;
    min-height: 50px;
    border: 0px ;
    border-radius: 4px;
    font-size:20px

}