.message{
    width: 50%;
    background-color: rgb(230, 230, 230);
    margin: 8px;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    overflow-wrap: break-word;
}

.message-robot {
    background-color: rgb(189, 228, 243);
    flex-direction: row-reverse;
}

.message-persona{
    margin-left: auto;
    background-color: rgb(240, 240, 240);
}

.span-from{
    color:rgba(0, 0, 0, 0.377)
}


.message-text{
    width: 80%;
}


